.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.container p, .container h4 {
  margin: 0;
}

.grid {
  flex: 1;
  display: grid;
  row-gap: 1rem;
}

.formContainer {
  flex: 1;
}

.sideBySide {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: .5rem;
  z-index: 1;
}

/* ----- Button ----- */
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
} /* All three of these properties are needed or property won't register */

.button {
  position: relative;
  width: 64px;
  height: 64px;
  color: white;
  background: #222;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  background: conic-gradient(
    from var(--gradient-angle),
    #00bfff,
    #3e84f2,
    #fd5e53,
    #fd8953,
    #00bfff
  );
  animation: rotation 4s linear infinite;
  z-index: -1;
}

.button::after {
  filter: blur(1rem);
}

@keyframes rotation {
  0% { --gradient-angle: 0deg; }
  100% { --gradient-angle: 360deg; }
}