.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 20px;

  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s cubic-bezier(0, 0, 0.5, 1), opacity 1s cubic-bezier(0, 0, 0.5, 1);
}

.container.show {
  opacity: 1;
  transform: translateY(0);
}

.container p, .container h4 {
  margin: 0;
}

.grid {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.emailLocation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 32px;
  z-index: 1;
}

/* ----- Button ----- */

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
} /* All three of these properties are needed or property won't register */

.button {
  position: relative;
  width: 64px;
  height: 64px;
  color: white;
  background: #222;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  background: conic-gradient(
    from var(--gradient-angle),
    #00bfff,
    #3e84f2,
    #fd5e53,
    #fd8953,
    #00bfff
  );
  animation: rotation 4s linear infinite;
  z-index: -1;
}

.button::after {
  filter: blur(1rem);
}

@keyframes rotation {
  0% { --gradient-angle: 0deg; }
  100% { --gradient-angle: 360deg; }
}

/* ----- Text Cover ----- */

.coverContainer {
  display: block;
  position: relative;
  width: fit-content;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: white;
  z-index: 10;
}

.cover.animate {
  animation: reveal ease-in-out 1s;
}

@keyframes reveal {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

.container h3 {
  opacity: 0;
  transition: opacity .01s;
  transition-delay: .5s;
}

.container.show h3 {
  opacity: 1;
}

@media only screen and (max-width: 1020px) {
  .container {
    flex-direction: column;
  }

  #contactPic {
    display: none;
  }
}