.description span {
  color: hsl(0 0% 100% / 0.2);
  background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white);
  background-size: 0% 100%;

  animation: scrollHighlight linear forwards;
  animation-timeline: view();
  animation-range-start: cover 10%;
  animation-range-end: cover 50%;
}

@keyframes scrollHighlight {
  to {
    background-size: 100% 100%;
  }
}

/* ----- Grid ----- */

.gridContainer {
  margin-top: 80px;
  width: 100%;
}

/* ----- Revealing Text ----- */

.coverContainer {
  display: block;
  position: relative;
  width: fit-content;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: white;
  z-index: 10;
}

.cover.animate {
  animation: reveal ease-in-out 1s;
}

@keyframes reveal {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

/* ----- Education + Hobbies ----- */

.eduContainer {
  flex-direction: column;
  justify-content: start;
  align-items: left;
  width: 100%;
  gap: 32px;

  margin-top: 110px;
}

.eduGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  column-gap: 100px;
  row-gap: 40px;
}

.hobbyContainer {
  gap: 50px;
  justify-content: center;
  align-items: center;

  margin-top: 110px;
}

.eduContainer, .hobbyContainer {
  display: flex;

  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s cubic-bezier(0, 0, 0.5, 1), opacity 1.2s cubic-bezier(0, 0, 0.5, 1);
}

.eduContainer.show, .hobbyContainer.show {
  opacity: 1;
  transform: translateY(0);
}

.eduContainer .appearingH3, .hobbyContainer h3 {
  opacity: 0;
  transition: opacity .01s;
  transition-delay: .5s;
}

.eduContainer.show .appearingH3, .hobbyContainer.show h3 {
  opacity: 1;
}

#hobbyPic {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hobbyDetails {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;

  padding-top: 24px;
}

#hobbyDetails > * {
  margin: 1rem 0;
}

@media only screen and (max-width: 950px) {
  .hobbyContainer {
    flex-direction: column;
  }

  #hobbyDetails {
    padding-top: 0;
  }
}

@media only screen and (min-width: calc(355px + 355px + 100px + 100px)) {
  .eduGrid {
    grid-template-columns: 355px 355px;
    justify-content: start;
  }
}
