.description span {
  color: hsl(0 0% 100% / 0.2);
  background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white);
  background-size: 0% 100%;

  animation: scrollHighlight linear forwards;
  animation-timeline: view();
  animation-range-start: cover 10%;
  animation-range-end: cover 50%;
}

@keyframes scrollHighlight {
  to {
    background-size: 100% 100%;
  }
}

/* ----- Grid ----- */

.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'exp aws edu'
    'ui leadership edu';

  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'exp aws'
      'ui leadership'
      'edu edu';

    max-width: 800px;
  }
}

#exp {
  grid-area: exp;
}

#aws {
  grid-area: aws;
}

#ui {
  grid-area: ui;
}

#leadership {
  grid-area: leadership;
}

#edu {
  grid-area: edu;
}

.item {
  background-color: #353535;
  border-radius: 1rem;
  padding: 1rem;

  font-size: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /* animation */
  transform: translateX(200%);
  opacity: 0;
  transition: transform .5s ease, opacity .5s ease-in-out;
}

.item.slideIn {
  transform: translateX(0);
  opacity: 1;
}

.itemText {
  border-left: 2px solid;
  border-image: linear-gradient(to bottom, #00bfff, #3e84f2, #fd5e53, #fd8953) 1;
  padding-left: 10px;
}

.item p {
  flex: 1;
  margin: 0;
}

.item ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  position: relative;
}
#edu ul {
  list-style-type: disc;
  padding-left: 1rem;
}

.item li {
  line-height: 1.5rem;
}


/* ----- Hobbies ----- */
.hobbyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s cubic-bezier(0, 0, 0.5, 1), opacity 1s cubic-bezier(0, 0, 0.5, 1);
}

.hobbyContainer.show {
  opacity: 1;
  transform: translateY(0);
}

#hobbyPic {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hobbyDetails {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;

  padding: 2rem;
}

#hobbyDetails > * {
  margin: 1rem 0;
}
