.description span {
  color: hsl(0 0% 100% / 0.2);
  background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white);
  background-size: 0% 100%;

  animation: scrollHighlight linear forwards;
  animation-timeline: view();
  animation-range-start: cover 15%;
  animation-range-end: cover 55%;
}

@keyframes scrollHighlight {
  to {
    background-size: 100% 100%;
  }
}

/* ----- Grid ----- */

.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'exp aws edu'
    'ui leadership edu';

  width: 100%;
}

@media only screen and (max-width: 950px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'exp aws'
      'ui leadership'
      'edu edu';

    max-width: 700px;
  }
}

.item h4 {
  margin-bottom: 8px;
  font-weight: 600;
}

#exp {
  grid-area: exp;
}

#exp h4 {
  width: fit-content;
  background: linear-gradient(90deg, #00bfff, #3e84f2);
  background-clip: text;
  color: transparent;
}

#aws {
  grid-area: aws;
}

#aws h4 {
  width: fit-content;
  background: linear-gradient(90deg, #FF9900, #FFB84D);
  background-clip: text;
  color: transparent;
}

#ui {
  grid-area: ui;
}

#ui h4 {
  width: fit-content;
  background: linear-gradient(90deg, #fd5e53, #fd8953);
  background-clip: text;
  color: transparent;
}


#leadership {
  grid-area: leadership;
}

#leadership h4 {
  width: fit-content;
  background: linear-gradient(90deg, rgb(53, 169, 138) 0%, rgb(109, 212, 0));
  background-clip: text;
  color: transparent;
}

#edu {
  grid-area: edu;
  justify-content: flex-start;
  padding: 20px 40px;
}

#edu h4 {
  width: fit-content;
  background: linear-gradient(90deg, #9D4EDD, #D186F5);
  font-weight: 600;
  background-clip: text;
  color: transparent;
}

.item {
  background-color: #232323;
  border-radius: 1rem;
  padding: 20px;

  font-size: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /* animation */
  transform: translateX(200%);
  opacity: 0;
  transition: transform .6s ease, opacity .6s ease-in-out;
}

.item.slideIn {
  transform: translateX(0);
  opacity: 1;
}

.itemText {
  /* Same as small-text */
  font-size: 17px;
  font-weight: 600;
  font-style: normal;

  /* Unique for better spacing inside containers */
  line-height: 26px;
}

.item p {
  flex: 1;
  margin: 0;
}

.item ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  position: relative;
}

/* ----- Revealing Text ----- */

.coverContainer {
  display: block;
  position: relative;
  width: fit-content;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: white;
  z-index: 10;
}

.cover.animate {
  animation: reveal ease-in-out 1s;
}

@keyframes reveal {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}



/* ----- Hobbies ----- */
.hobbyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s cubic-bezier(0, 0, 0.5, 1), opacity 1.2s cubic-bezier(0, 0, 0.5, 1);
}

.hobbyContainer.show {
  opacity: 1;
  transform: translateY(0);
}

.hobbyContainer h3 {
  opacity: 0;
  transition: opacity .01s;
  transition-delay: .5s;
}

.hobbyContainer.show h3 {
  opacity: 1;
}

#hobbyPic {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hobbyDetails {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;

  padding-top: 36px;
}

#hobbyDetails > * {
  margin: 1rem 0;
}

@media only screen and (max-width: 950px) {
  .hobbyContainer {
    flex-direction: column;
  }
}
