/* ----- Layout ----- */

.container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

#details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  padding: 20px;
}

#details > * {
  text-align: left;
}

#details h1,
#details .coveredTextContainer {
  margin-bottom: 1rem;
}

/* ----- Covered Text ----- */

.coveredTextContainer {
  display: block;
  position: relative;

  width: 480px;
  height: 60px; /* h2 line height */
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: white;
  /* background: linear-gradient(90deg, #00bfff, #3e84f2, #fd5e53, #fd8953); */
  z-index: 10;
  animation: reveal 3s ease-in-out 3s infinite;
}

@keyframes reveal {
  0% {
    width: 0;
    left: 0;
  }
  18% {
    width: 100%;
    left: 0;
  }
  /* Delay for a bit so word can change */
  21% {
    width: 100%;
    left: 0;
  }
  39% {
    width: 0;
    left: 100%;
  }
  /* Delay for a bit so user can read new text */
  100% {
    width: 0;
    left: 100%;
  }
}

/* ----- Button ----- */

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
} /* All three of these properties are needed or property won't register */

.button {
  width: fit-content;
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background: #333;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  background: conic-gradient(from var(--gradient-angle), #00bfff, #3e84f2, #fd5e53, #fd8953, #00bfff);
  animation: rotation 4s linear infinite;
  z-index: -1;
}

.button::after {
  filter: blur(1rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
