.edu {
  width: 100%;

  padding-left: 35px;
  text-align: left;

  border-left: 2px solid;
  border-image: linear-gradient(to bottom, #00bfff, #3e84f2, #fd5e53, #fd8953) 1;

  position: relative;
}

.eduIcon {
  position: absolute;
  top: 0;
  left: -21px;

  width: 42px;
  height: 42px;
  border-radius: 50%;

  background-color: #404040;

  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  margin-bottom: 6px;
  font-weight: 400;
  color: #b0b0b0;
}