.skillContainer {
  padding: 5px;
}

.expTitle {
  font-family: 'Copperplate';
  color: blue;
  font-size: 24px;
  margin: 0;
  text-align: left;
}

.expSubtitle {
  font-family: 'Copperplate';
  color: white;
  font-size: 20px;
  margin: 0;
  text-align: left;
}

.expContainer {
  display: flex;
}

.expColLarge {
  padding: 5px;
  width: 60%
}

.expColSmall {
  flex: 1;
  padding: 5px;
  padding-left: 5%;
  padding-right: 5%;
  width: 40%;
}

.ulist {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.litem {
  margin: 0;
  margin-bottom: 5px;
}

.projectlitem {
  margin: 0;
  margin-bottom: 20px;
}

.expEduWrapper {
  display: flex;
}

.eContainer {
  flex: 1;
  padding: 5px;
}

.eduContainer {
  flex: 1;
  padding: 5px;
  padding-left: 10px;
}

.sectionTitle {
  font-family: 'Copperplate';
  font-size: 24px;
  margin-bottom: 4px;
  text-align: center;
}