.homeContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.selfieContainer {
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.textContainer {
  flex: 1;
  padding-left: 40px;
  max-width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}